<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            M Alarm
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div [style]="classes" [ngStyle]="{'background-color': alarm.isEnable ? '#FFB273' : '#53D5FC' }" *ngFor="let alarm of alarmList; let i = index">
        <div>
            <ion-text class="days" color="light">
                <h5>{{alarm.day}}</h5>
            </ion-text>
            <ion-text class="date" color="light">
                <h2>{{alarm.hours}}</h2>
            </ion-text>
            <ion-text color="light">
                <h4>{{alarm.title}} </h4>
            </ion-text>
        </div>
        <div>
            <ion-toggle [(ngModel)]="alarm.isEnable" (click)="myChange(alarm.isEnable, i)"></ion-toggle>
            <hr>
        </div>
    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
